// :link and :visited states of the link
//
// Example:
//   +$link()
//     color #bada55
$link()
	&,
	&:link,
	&:visited
		{block}

// :hover, :active and :focus states of the link
//
// Example:
//   +$hover()
//     color #bada55
$hover()
	&:hover
	&:focus
	&:active
		{block}